<ion-header>
  <ion-toolbar>
    <ion-title>à propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div style = "text-align: center">
      <h1>
        Bienvenue sur RéserveTonHotel.com !
      </h1>
    </div>
      <ion-row>
        <ion-col>
          <h2>Présentation :</h2>
          <p>Le site reserveTonHotel.com est fait pour vous ! 
            
            Vous pourrez choisir parmis une multitudes de pays et de régions à travers le monde,
             à des prix défiants toutes concurrences !
            Vous pourrez réserver à l'avance vos voyages et choisir aussi votre modalité de payement !
            Partagez nous votre boite mail afin que l'on puisse vous envoyer des réductions et des promotions sur vos prochains voyages ! 

            Notre site est grandement référencé. Des milliers d'internautes nous font déjà confiance et nous renvoie de bonnes remarques, soyez le prochain ! </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
