<ion-header>
  <ion-toolbar>
    <ion-title>Ma Liste d'hotels</ion-title>
    <ion-nav-link></ion-nav-link>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>Création d'un nouvel Hotel</h2>
<ion-button routerLink="/tab/hotels/new">Création</ion-button>
<h2>Liste des hotels : </h2>
<ion-grid>
  <ion-row>
    <ion-col size="4" *ngFor="let hotel of hotels">
      <ion-list [routerLink]="['/tab/hotels/',hotel.id]">
        <ion-item>
          <img [src]="hotel.pictureLink" [alt]="hotel.title">
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
